<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263366028329-p8kgccbbnckf5qqqmlthsdkkrcotrphl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263366028329-p8kgccbbnckf5qqqmlthsdkkrcotrphl</string>
	<key>API_KEY</key>
	<string>AIzaSyBybXFvwGd1jxAKCt3XQ4APNLPaVmGRIYU</string>
	<key>GCM_SENDER_ID</key>
	<string>263366028329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jexpoints</string>
	<key>PROJECT_ID</key>
	<string>jexcom-e63bf</string>
	<key>STORAGE_BUCKET</key>
	<string>jexcom-e63bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:263366028329:ios:f06b46ac63eb6ed9d24038</string>
</dict>
</plist>
